name: Java Multi-JDK Multi-OS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build on ${{ matrix.os }} with JDK ${{ matrix.java }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [17, 21, 24]
        include:
          - os: ubuntu-latest
            java: 8
        exclude:
          - os: ubuntu-latest
            java: 17
          - os: windows-latest
            java: 21

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package
